version: 2

sources:
  - name: fpl_data
    database: YOUR_PROJECT_ID
    schema: fpl_data
    tables:
      - name: players
      - name: teams
      - name: fixtures
      - name: matches
      - name: player_types
      - name: element_summary
